<div class="container my-5">
    <h3 class="text-center mb-3">Добавить подарок</h3>
    <div class="col-sm-6 mx-auto">
        <form onsubmit="sendForm(this); return false;">
            <div class="mb-3">
                <label for="nameInput">Название подарка</label>
                <input type="text" class="form-control" name="name" placeholder="Название подарка" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="descriptionInput">Описание</label>
                <textarea name="description" class="form-control" id="descriptionInput" placeholder="Описание"></textarea></div>
            <div class="mb-3">
                <input id="submitBtn" type="submit" class="btn btn-primary form-control" value="Добавть">
            </div>
        </form>
    </div>
    <div class="col-sm-6 mx-auto" id="wishesBlock">

    </div>
    <script>
        const wishesBlock = document.getElementById('wishesBlock');
        let wishes = []; // Список подарков
        /*if(localStorage.length !== 0){ // Проверяем, что localStorage не пустой
            const ls = localStorage.getItem('wishes'); // Читаем список подарков из localStorage
            wishes = JSON.parse(ls); // Превращаем в объект (в массив)
            wishes.forEach((wish, index)=>{ // Перебираем массив с подарками
                renderWish(wish.name, wish.description, index); // Отрисовываем их на экране
            })
        }*/
        fetch('/getWishes')
                .then(response=>response.json())
                .then(result=>{
                    console.log(result);
                    result.forEach((wish, index)=>{ // Перебираем массив с подарками
                        renderWish(wish.name, wish.description, index); // Отрисовываем их на экране
                    })
                })
        function sendForm(form){ // Функция отправки формы
            const submitBtn = document.getElementById('submitBtn');
            submitBtn.disabled = true;
            submitBtn.value = "Добавление...";
            const formData = new FormData(form); // Объект FormData для быстрого считвания данных с формы
            fetch('/addWish', {
                method: "POST",
                body: formData
            }).then(response=>response.text(), ()=>{alert("ОШИБКА!");})
                    .then(result=>{
                        wishes.push({name: formData.get('name'), description: formData.get('description')}); // Добавляем очереднй подарок в сипсок
                        localStorage.setItem('wishes', JSON.stringify(wishes)); // Сохраняем список подарков в localStorage
                        renderWish(formData.get('name'), formData.get('description'), wishes.length-1); // Отрисовываем подарок на экране
                        form.reset(); // перезагрузка (очистка) формы
                        submitBtn.disabled = false;
                        submitBtn.value = "Добавть";
                        console.log(result);
                    })
        }

        function renderWish(name, description, index){ // Фнкция отрисовки поарка на экране
            const div = document.createElement('div');
            const deleteBtn = document.createElement('button');
            const editBtn = document.createElement('button');
            const h4 = document.createElement('h4');
            const p = document.createElement('p');
            const hr = document.createElement('hr');
            editBtn.classList.add("btn", "btn-warning", "me-3");
            editBtn.innerText = "Редактировать";
            editBtn.onclick = ()=>editWish(div, main);
            deleteBtn.classList.add('btn', 'btn-danger');
            deleteBtn.innerText = "Удалить";
            deleteBtn.onclick = ()=>{removeWish(div, main)};
            h4.innerText = name;
            p.innerText = description;
            div.append(hr, h4, p, editBtn, deleteBtn);
            wishesBlock.append(div);
        }

        function removeWish(element, index){
            element.remove();
            wishes.splice(main, 1);
            localStorage.setItem('wishes', JSON.stringify(wishes));
        }

        function editWish(div, index){
            const saveBtn = document.createElement('button');
            const h4 = div.querySelector('h4');
            const p = div.querySelector('p');
            let name = h4.innerText;
            let description = p.innerText;
            saveBtn.classList.add('btn', 'btn-success');
            div.querySelectorAll('button').forEach(btn=>btn.hidden=true);
            h4.innerHTML = `<input type="text" value="${name}" class="form-control">`;
            p.innerHTML = `<textarea class="form-control">${description}</textarea>`;
            saveBtn.innerText = "Сохранить";
            saveBtn.onclick = ()=>{
                h4.innerText = h4.firstChild.value;
                p.innerText = p.firstChild.value;
                div.querySelectorAll('button').forEach(btn=>btn.hidden=false);
                saveBtn.remove();
                wishes[main].name = h4.innerText;
                wishes[main].description = p.innerText;
                localStorage.setItem('wishes', JSON.stringify(wishes));
            }
            div.append(saveBtn);
        }
    </script>
</div>